@font-face {
  font-family: 'Airbnb Cereal App';
  font-style: normal;
  font-weight: normal;
  src: local('Airbnb Cereal App'), url('AirbnbCerealMedium.woff') format('woff');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.navbar {
  background-color: white;
}

.navbar-brand {
  color: black;
  font-size: 30px;
  padding: 0 15px;
}

a.home {
  color: black;
  font-family: 'Airbnb Cereal App';
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  margin: 0 25%;
}

a.search {
  color: black;
  font-size: 25px;
  margin-top: -45px;
  margin-left: 50%;
}

a.cart {
  color: black;
  font-family: 'Airbnb Cereal App';
  font-size: 25px;
  font-weight: 600;
  text-decoration: none;
  margin-top: -40px;
}

i.fas.fa-bags-shopping {
  color: limegreen;
  font-size: 25px;
}

/* hover link */
.navbar-brand:hover,
a.home:hover,
a.search:hover,
a.cart:hover {
  color: #666666;
}

/* list menu dan main */
.container-bars {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

aside.left {
  flex: 5%;
  background-color: white;
}

section.main {
  flex: 68%;
  background-color: rgba(190, 195, 202, 0.3);
  min-height: 900px;
  padding: 30px 50px;
}

aside.right {
  font-family: 'Airbnb Cereal App';
  position: relative;
  flex: 25%;
  background-color: white;
}

/* list menu */
.list-bars {
  padding: 0;
}

.list-bars li {
  list-style: none;
}

.list-bars a {
  font-size: 30px;
  display: block;
  padding: 15px 30px;
}

.bars-item1,
.bars-item2 {
  color: black;
}

.bars-item3 {
  color: limegreen;
}

/* hover list bars */
.bars-item1:hover,
.bars-item2:hover {
  color: #666666;
}

.bars-item3:hover {
  color: lightgreen;
}

/* cart item */
img.image {
  width: 150px;
  margin: 0 27%;
}

h3.menu-cart {
  font-size: 25px;
  margin-left: 15%;
}

p.menu-add {
  font-size: 14px;
  color: #cecece;
  margin-left: 10%;
  margin-right: 5%;
  /* border: 2px solid #CACACA;
  padding: 25px 10px; */
}

.card {
  background-color: transparent;
  border: none;
}

.card-body {
  font-family: 'Airbnb Cereal App';
  margin-left: -20px;
}

h5.card-title {
  font-size: 20px;
  font-weight: 500;
  margin-top: -10px;
  margin-bottom: -3px;
}

span.prices {
  font-size: 25px;
  font-weight: 700;
}

/* footer */
footer {
  font-family: 'Airbnb Cereal App';
  font-weight: 600;
  background-color: #cecece;
  color: black;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
}

a.github,
a.youtube {
  font-size: 25px;
  text-decoration: none;
}

.github {
  color: black;
}

.youtube {
  color: red;
}

a.github:hover {
  color: #666666;
}

a.youtube:hover {
  color: lightcoral;
}

/* for mobile */
@media (max-width: 576px) {

  .navbar-brand {
    font-size: 20px;
  }

  a.home {
    font-size: 20px;
    font-weight: 600;
    margin-top: -30px;
  }

  a.search {
    color: black;
    font-size: 20px;
    margin-top: -30px;
  }

  a.cart {
    font-size: 18px;
    margin-top: -30px;
  }

  i.fas.fa-bags-shopping {
    font-size: 18px;
  }

  .list-bars a {
    font-size: 20px;
  }
}